langchain
langchain-openai
langchain-community
tiktoken
docarray
openai
pydantic
chromadb
python-dotenv
unstructured
pypdf
langchain_chroma
spacy 
python-docx
flask
langchain 
langchain_openai 
langchain_chroma 
beautifulsoup4 
flask
